priority 100

snippet forauto
	for (auto ${1:ITERATOR} : ${2:CONTAINER}) {
		${0:CONTENT}
	}

snippet rep
	for (int ${1:i} : views::iota(${2:a}, ${3:b})) {
		${0}
	}

snippet cout
	cout << ${1} << endl;

snippet cin
	cin >> ${1};
