priority 100

snippet forauto
	for (auto ${1:ITERATOR} : ${2:CONTAINER}) {
		${0:CONTENT}
	}

snippet rep
	for (int ${1:i} : rep(${2:0}, ${3:10})) {
		${0}
	}

snippet skeleton.rep
	auto rep(int begin, int end) { return views::iota(begin, end); }

snippet cout
	cout << ${1} << endl;

snippet cin
	cin >> ${1};
