priority 100

snippet thebibliography
	\begin{thebibliography}{99}
		\bibitem{${1:LABEL}} ${2:TARGET}
	\end{thebibliography}

snippet bibitem
	\bibitem{${1:LABEL}} ${2:TARGET}

snippet url
	\url{${1:TARGET}}

snippet lstinputlisting
	\lstinputlisting[caption = ${1:CAPTION}, label = ${2:LABEL}]{${3:PATH_TO_FILE}}

