priority 100

snippet autocmd
	vim.api.nvim_create_autocmd({ "${1:EVENTS}" }, {
		pattern = "${2:*}",
		group = vim.api.nvim_create_augroup("${3}", {}),
		callback = function()
			${4}
		end,
	})

snippet lazyspec
	---@type LazySpec
	local spec = { "${1}" }

	local map = require("utils.lazy").generate_map("", "")
	spec.keys = {}

	spec.opts = {}

	spec.config = function(spc, opts)
		require(spc.name).setup(opts)
	end

	return spec
