snippet 2>&1
	/dev/null > 2>&1

snippet iftype
	if type -P ${1:#command_name}; then
		${0}
	fi

snippet #!
	#!/usr/bin/env bash

snippet scriptdir
	SCRIPT_DIR="$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )"

snippet scriptname
	SCRIPT_NAME="$(basename "\$0")"
