# Install Theme
# `set -l D $XDG_CONFIG_HOME/alacritty/themes; and [ ! -e $D ]; and mkdir -p $D; and git clone https://github.com/alacritty/alacritty-theme $D`

[general]
import = [
	# "~/.config/alacritty/themes/themes/hardhacker.toml",
	# "~/.config/alacritty/themes/themes/everforest_dark.toml",
	"~/.config/alacritty/themes/themes/kanagawa_dragon.toml",
]

[terminal]
osc52 = "CopyPaste"

[font]
normal = { family = "UDEV Gothic", style = "Regular" }
size = 12.0

[colors]
cursor = { cursor = "#E5E9F0" }
primary = { background = '#000000' }

[bell]
animation = 'EaseOutQuint'
duration = 300
color = '#303030'

[window]
# opacity = 0.7
dimensions = { columns = 220, lines = 60 }
padding = { x = 6, y = 2 }
option_as_alt = "Both" # for MacOS

[mouse]
hide_when_typing = true

[keyboard]
bindings = [
	{ key = "Tab", mods = "Control", chars = "\u001B[27;5;9~" }, # ctrl-tab (needed for tmux)
	{ key = "Tab", mods = "Control|Shift", chars = "\u001B[27;6;9~" }, # ctrl-shift-tab (needed for tmux)
	# Shift-tab works without such configurations
	{ key = "Delete", mods = "Control|Shift", chars = "\u000b" }, # Ctrl-k for Linux
	{ key = "Back", mods = "Control", chars = "\u0017" }, # Ctrl-w for Linux
	{ key = "Back", mods = "Control|Shift", chars = "\u0015" }, # Ctrl-w for Linux
	{ key = "Insert", mods = "Shift", action = "Paste" }, # Use CLIPBOARD register rather than PRIMARY register of X11
	{ key = "Paste", action = "Paste" },
	{ key = "Back", mods = "Command", chars = "\u0015" }, # Ctrl-u for MacOS
]
