# Install Theme
# `set -l D $XDG_CONFIG_HOME/alacritty/themes; and [ ! -e $D ]; and mkdir -p $D; and git clone https://github.com/alacritty/alacritty-theme $D`

[general]
import = [
	# "~/.config/alacritty/themes/themes/hardhacker.toml",
	# "~/.config/alacritty/themes/themes/everforest_dark.toml",
	"~/.config/alacritty/themes/themes/kanagawa_dragon.toml",
]

[terminal]
osc52 = "CopyPaste"

[font]
normal = { family = "Hack Nerd Font", style = "Regular" }
offset = { x = 0, y = 0 }
size = 10.0

[colors]
cursor = { cursor = "#E5E9F0" }
primary = { background = '#000000' }

[bell]
animation = 'EaseOutQuint'
duration = 300
color = '#303030'

[window]
# opacity = 0.7
dimensions = { columns = 220, lines = 60 }
padding = { x = 6, y = 2 }
option_as_alt = "Both" # for MacOS

[keyboard]
bindings = [
	{ key = "Minus", mods = "Command", action = "DecreaseFontSize" },
	{ key = "Equals", mods = "Command|Shift", action = "IncreaseFontSize" },
	{ key = "Equals", mods = "Command", action = "ResetFontSize" },
	{ key = "Tab", mods = "Control", chars = "\u001B[27;5;9~" }, # ctrl-tab (needed for tmux)
	{ key = "Tab", mods = "Control|Shift", chars = "\u001B[27;6;9~" }, # ctrl-shift-tab (needed for tmux)
	{ key = "Back", mods = "Control", chars = "\u0017" }, # word-del for Linux
	{ key = "Back", mods = "Command", chars = "\u0015" }, # Ctrl-u for MacOS
	{ key = "Back", mods = "Control|Shift", chars = "\u0015" }, # word-del for Linux
	{ key = "F11", mods = "Command|Control", action = "ToggleSimpleFullscreen" }, # For MacOS
]
